
table {
    width: 100%;
}
.title-div{
    
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}
.table-div{
    margin-top: 100px;
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}

.mat-column-name {
    border-right: 2px solid currentColor;
    text-align: center;
    font-size: 20px;
}

.mat-column-size{
    text-align: center;
}

.mat-column-calories{
    text-align: center;
}

.mat-column-sugar{
    text-align: center;
}
.mat-header-cell{
    background-color: aqua;
}