.filter-table{
    margin-top: 40px;
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}
.filter-input{
    margin-top: 60px;
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}
.the-filter{
    width: 100%;
}
.title-div{
    
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}