<div class="title">
    <h1>Add Item to DB</h1>
</div>
<div class="form-group">
    <mat-form-field class="whole" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="half" appearance="fill">
        <mat-label>Size</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field class="half" appearance="fill">
        <mat-label>Units</mat-label>
        <mat-select>
            <mat-option value="fl oz">Fluid Oz</mat-option>
            <mat-option value="g">Grams</mat-option>
        </mat-select>
    </mat-form-field>      
    <mat-form-field class="whole"  appearance="fill">
        <mat-label>Calories</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="whole"  appearance="fill">
        <mat-label>Sugar</mat-label>
        <input matInput>
    </mat-form-field>
</div>
