.title{
    min-width: 500px;
    width: 50vw;
    margin-right:  auto;
    margin-left: auto;
}
.form-group{
    min-width: 500px;
    width: 50%;
    margin-top: 60px;
    margin-right:  auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.whole{
    width: 100%;
}
.half{
    width: 45%;
}
.me{
    color: white;
    background-color: #4caf50;
}
.mdc-button__label{
    color: white;
}